.descAndSlider-canterburyHouse {
    box-sizing: border-box; /* ensures padding and border are included in the total width and height of the elements. */
    padding-bottom: 10vh; /* adds padding between projects */
    width: auto;
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .projectDescription-canterburyHouse {
    /* border: 1px solid orange; */
    border-top: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    line-height: normal;
    margin-left: 60px;
    padding-top: 10px;
    position: absolute;
    top: 385rem; /* distance from top of page, need to adjust this when info is correct */
    width: 30vw;
  }
  
  .projectDescriptionLong-canterburyHouse {
    padding-top: 34rem;
    line-height: normal;
    margin-left: 60px;
    width: 30vw;
  }
  
  .projectDescInfo {
    float: right;
  }
  
  .descHeading {
    line-height: normal;
  }
  
  #descHeadingProjectTeam {
    height: 63px;
  }
  
  .descInfo {
    line-height: normal;
  }
  
  .verticalLineAndDesc-canterburyHouse {
    display: flex;
    flex-direction: column;
  }
  
  .canterburyHouseSlider {
    height: fit-content;
    padding-top: 7vh;
  }
  
  .projectDescHeading {
    color: #969696;
    padding-right: 3vw;
  }
  
  .hidden {
    display: none;
  }
  
  .projectAddressBlock-canterburyHouse {
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    height: 661px;
    justify-content: flex-end;
    line-height: 0px;
    margin-left: 60px;
    position: absolute;
    width: 30vw;
  }
  
  .projectAddress {
    font-size: 1.4rem;
    font-weight: 100;
    padding-bottom: 0.7rem;
  }
  
  @media (max-width: 1210px) {
    .App {
      width: 100vw;
    }
  
    .descAndSlider-canterburyHouse {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      padding-bottom: 10vh;
      width: 100%;
    }
  
    .projectAddressBlock-canterburyHouse {
      border-bottom: none;
      display: flex;
      flex-direction: column;
      line-height: 0px;
      margin-left: 60px;
      margin-top: 40px;
      position: absolute;
      z-index: 1;
    }
  
    .projectAddress {
      font-size: 1.4rem;
      font-weight: 100;
      padding-bottom: 0.7rem;
      width: 90vw;
      border-bottom: 1px solid black;
    }
  
    .projectDescription-canterburyHouse {
      /* border: 1px solid orange; */
      border-top: 1px solid black;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      line-height: normal;
      margin-left: 60px;
      position: absolute;
      top: 97rem;
      width: 90vw;
      margin-top: 518.7vh;
      padding-top: 10px;
      padding-bottom: 20px;
    }
  
    .projectDescriptionLong-canterburyHouse {
      padding-top: 0rem;
        width: 90vw;
        margin-top: 12.5vh;
        top: 402rem;
        position: absolute;
    }
  
      .slides {
      height: 60vh;
      width: 100%;
      z-index: 2;
    }
  
    .slideImgs {
      height: 60vh;
      width: auto;
    }
  
    .slides > div {
      height: 60vh;
      width: auto;
    }
  }
  
  /* Mobile Phone Size */
  @media (max-width: 700px) {
    .descAndSlider-canterburyHouse {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      padding-bottom: 5vh;
      width: 100%;
      padding-top: 250px;
    }
  
    .projectAddressBlock-canterburyHouse {
      display: flex;
      flex-direction: column;
      height: 40vh;
      line-height: 0px;
      margin-left: 20px;
      position: absolute;
      width: 90vw;
      z-index: 1;
      margin-top: 55px;
    }
  
    .projectAddress {
      font-size: 1.4rem;
      font-weight: 100;
      padding-bottom: 0.7rem;
      width: 90vw;
    }
  
    .projectAddress {
      font-size: 1rem;
    }
    
    .projectDescription-canterburyHouse {
      /* border: 1px solid orange; */
      border-top: 1px solid black;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      line-height: normal;
      margin-left: 20px;
      padding-top: 10px;
      position: absolute;
      top: 53.3rem;
      width: 90vw;
    }

    .projectDescriptionLong-canterburyHouse {
      padding-left: 0px;
      padding-top: 10px;
      margin-left: 20px;
      width: 90vw;
      margin-top: 0;
      top: 321rem;
    }
  
    .projectDescInfo {
      width: auto;
    }
  
    .treehouseSlider {
      padding-top: 0vh;
    }
  
    .slides {
      height: 280px;
      width: 100%;
      z-index: 2;
    }
  
    .slideImgs {
      height: 280px;
      width: auto;
    }
  
    .slides > div {
      height: 280px;
      width: auto;
    }
  }
  