.App-FulhamRd {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 64.5vw;
}

.slides-FulhamRd {
  display: flex;
  width: 100%;
  height: 60vh;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  /* border: red 1px solid; */
}

.slideImgs-FulhamRd {
  height: 60vh;
  width: auto;
  /* border: yellow 1px solid; */
}

.slides-FulhamRd > div {
  display: flex;
  flex-shrink: 0;
  height: 60vh;
  width: auto;
  scroll-snap-align: start;
  scroll-behavior: smooth;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

@media (max-width: 1210px) {
  .App-FulhamRd{
    width: auto;
  }
}

@media (max-width: 700px) {
  .App-FulhamRd {
    width: 100vw;
  }
  .slides-FulhamRd {
    height: 280px;
    width: 100%;
    z-index: 2;
  }
  .slides-FulhamRd > div {
    height: 280px;
    width: auto;
  }
  .slideImgs-FulhamRd {
    height: 280px;
    width: auto;
  }
}
