.headerLogoAndTextProjectsPage {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: row;
  padding: 40px;
}

.embaLogo {
  padding: 20px;
  width: 150px;
}

.headerText {
  color: black;
  display: flex;
  flex-direction: column;
  line-height: normal;
  padding-left: 10px;
}

.bolderFont {
  font-weight: 600;
  font-size: 12px;
}

.lineFourHeader {
  display: flex;
  flex-direction: row;
  width: 200px;
}

.lighterFont {
  font-weight: 200;
  padding-left: 4px;
}

p {
  font-size: 12px;
  margin: 0;
}

.navLinksBlock {
  display: flex;
  flex-direction: column;
  margin-left: -13rem;
  margin-top: 0.3rem;
  width: 200px;
  text-align: right;
}

#menuNavText {
  font-size: 12px;
  margin-left: -3rem;
  margin-top: 1.2rem;
  opacity: 50%;
  position: absolute;
}

.navLinks {
  color: white;
  text-decoration: none;
  font-size: 12px;
}

.navLinks:hover {
  color: black;
  text-decoration: none;
  text-decoration: underline;
}

/* Hover - Projects Page Nav */
#hoverProjectsPage {
  border-right: 7px solid black;
  height: 55px;
  width: 10px;
  right: 60px;
  position: absolute;
}

#hoverProjectsPage:hover {
  border-right: 7px solid black;
  height: 55px;
  width: 10px;
  right: 60px;
  position: absolute;
}

#hoverProjectsPage:hover #menuNavText {
  visibility: hidden;
  /* display: none; */
}

#hoverProjectsPage:hover,
#navLinksHover:hover,
#navLinksHome,
#navLinksPractice,
#navLinksWorkTogether
{
  color: black;
  opacity: 1;
}

#navLinksHover {
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  -webkit-transition-duration: 0.7s;
  color: white;
  opacity: 0;
  transition-duration: 0.5s;
}

#menuNavText:hover {
  opacity: 0;
}

nav {
  display: none;
}/* do i need this? */

@media (max-width: 700px) {
  .embaLogo {
    display: none;
  }

  #hoverProjectsPage, 
  #hoverProjectsPage:hover, 
  #menuNavText,
  .headerText {
    display: none;
  }

  .banner-area {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 0;
}

  .headerLogoAndTextProjectsPage {
    align-items: center;
        display: flex;
        flex-direction: row;
        padding: 40px;
  }
}


