.headerLogoAndTextPages {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 40px;
}

.embaLogoPages {
  padding: 20px;
  width: 150px;
}

.headerTextPages {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.3;
  padding-left: 10px;
  padding-top: 4.5px;
}

.bolderFontPages {
  font-weight: 600;
  color: black;
  opacity: 50%;
}

.lineFourHeaderPages {
  display: flex;
  flex-direction: row;
  width: 200px;
}

.lighterFontPages {
  font-weight: 200;
  padding-left: 4px;
  color: black;
  opacity: 50%;
}

p {
  font-size: 12px;
  margin: 0;
}

.navLinksBlockPages {
  flex-direction: column;
  display: flex;
  margin-left: -13rem;
  margin-top: 0.3rem;
  width: 200px;
  text-align: right;
}

#menuNavTextPages {
  font-size: 12px;
  margin-left: -3rem;
  margin-top: 1.2rem;
  opacity: 50%;
  color: black;
  position: absolute;
}

.navLinksPages {
  color: white;
  text-decoration: none;
  font-size: 12px;
}

.navLinksPages:hover {
  color: black;
  text-decoration: none;
  text-decoration: underline;
}

/* Hover - Practice Page Nav */
#hoverPages {
  border-right: 7px solid white;
  height: 57px;
  width: 10px;
  right: 60px;
  position: absolute;
  margin-top: 1px;
}

#hoverPages:hover {
  border-right: 7px solid black;
  height: 57px;
  width: 10px;
  right: 60px;
  position: absolute;
  margin-top: 1px;
}

#hoverPages:hover #menuNavTextPages {
  visibility: hidden;
}

#hoverPages:hover,
#navLinksHoverPages:hover {
  opacity: 1;
  color: black;
}

#navLinksHoverPages {
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  -webkit-transition-duration: 0.7s;
  color: white;
  opacity: 0;
  transition-duration: 0.7s;
}

#menuNavTextPages:hover {
  opacity: 0;
}

@media (max-width: 700px) {
  .embaLogoPages {
    display: none;
  }

  .headerTextPages,
  .bolderFontPages,
  .lineFourHeaderPages,
  .lighterFontPages,
  #hoverPages,
  #hoverPages:hover
  {
    display: none;
  }  
}