.headerLogoAndTextHomePage {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 40px;
}

.embaLogoHomePage {
  padding: 20px;
  width: 150px;
}

.headerTextHomePage {
  display: flex;
  flex-direction: column;
  line-height: normal;
  padding-left: 10px;
}

.bolderFontHomePage {
  font-weight: 600;
  color: black;
  opacity: 50%;
  font-size: 12px;
}

.lineFourHeaderHomePage {
  display: flex;
  flex-direction: row;
  width: 200px;
}

.lighterFontHomePage {
  font-weight: 200;
  padding-left: 4px;
  color: black;
  opacity: 50%;
  font-size: 12px;
}

p {
  margin: 0;
}

@media (max-width: 700px) {
  .headerLogoAndTextHomePage {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 0px;
    padding-bottom: 0px;
  }

  .embaLogoHomePage {
    padding: 0px;
    width: 150px;
  }

  .headerTextHomePage {
    padding-left: 20px;
    padding-top: 5px;
  }
}
