@font-face {
    font-family: HelveticaNeueLTStd;
    src: url("../Helvetica\ Neue\ LT\ Std/HelveticaNeueLTStd-Th.otf");    
  }

  .App {
    font-family: HelveticaNeueLTStd;
    text-align: center;
  }

  .msgText {
    font-size: 16px;
  }

  .App button {
    padding: 13px 29px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0px;
    border: none;
    outline: none;
    background: #bd9581;
    color: black;
    cursor: pointer;
  }
  
  #portal .container {
    position: static;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal {
    position: absolute;
    right: 3%;
    top: 29.5%;
  }

  .container .modal {
    z-index: 6;
    width: 36vw;
    height: 46vh;
    padding: 30px;
    background: lightgray;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px;

    animation-name: modal;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;

    border: 1px solid black;
  }

  .modal button {
    position: absolute;
    top: 7px;
    right: 7px;
    padding: 8px 11px;
    background: black;
    color: white;
    font-weight: lighter;
    border: none;
    outline: none;
    border-radius: 0px;
    cursor: pointer;
  }

  @keyframes modal {
    from {
      border: 1px solid lightgray;
    }
    to {
      border: 1px solid black;
    }
  }

  @media (max-width: 1210px) {
  .modal {
    top: 29%;
  }
  }

  @media (max-width: 700px) {
    .modal {
      top: 77%;
      right: 0%;
      left: 0%;
    }

    .container .modal {
      width: auto;
      height: 55vh;
    }
  }