.projectDesciptionDetails {
    display: flex;
    flex-direction: row;
}

.projectDescHeading {
    color: #969696;
  }

  .projectDescInfo {
    width: 20vw;
  }


  @media (max-width: 700px) {
    .projectDescInfo {
      width: 20vw;
    }
  }