.projectDesciptionDetails {
    display: flex;
    flex-direction: row;
}

.projectDescHeading {
    color: #969696;
    width: 8vw;
  }

  @media (max-width: 1210px) {

  }

  @media (max-width: 1210px) {
    .projectDescInfo {
      width: 20vw;
    }

    .projectDescHeading {
      display: flex;
      flex-direction: column;
      width: 100px;
    }
  }