.App {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 64.5vw;
}

.slides {
  display: flex;
  width: 100%;
  height: 60vh;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  /* border: red 1px solid; */
}

.slideImgs {
  height: 60vh;
  width: auto;
}

.slides > div {
  display: flex;
  flex-shrink: 0;
  height: 60vh;
  width: auto;
  scroll-snap-align: start;
  scroll-behavior: smooth;
  justify-content: center;
  align-items: baseline;
  font-size: 100px;
  /* border: pink 1px solid; */
}

.descAndSlider {
  box-sizing: border-box; /* ensures padding and border are included in the total width and height of the elements. */
  padding-bottom: 10vh; /* adds padding between projects */
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 13px;
}

.projectDescription-treehouse {
  border-top: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  line-height: normal;
  margin-left: 60px;
  padding-top: 0.7rem;
  position: absolute;
  margin-top: 0rem;
  width: 30vw;
}

.projectDescriptionBreif {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.projectDescriptionLong-treehouse {
  padding-top: 1.4rem;
  line-height: normal;
}

#descHeadingContractor {
  height: 30px;
}

.projectDescHeading {
  color: #969696;
}

.projectDescInfo {
  width: 20vw;
}

.photographerInfo {
  display: flex;
  flex-direction: row;
}

.verticalLineAndDesc {
  display: flex;
  flex-direction: column;
}

.treehouseSlider {
  height: fit-content;
  /* padding-top: 7vh; */
  /* width: 100vw; */
}

.hidden {
  display: none;
}

.projectAddressBlock {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column-reverse;
  height: 60vh;
  line-height: 0px;
  margin-left: 60px;
  position: absolute;
  width: 30vw;

}

.projectAddress {
  font-size: 1.4rem;
  font-weight: 100;
  padding-bottom: 0.7rem; /* 0.2rem */
}

.projectDescriptionMobile {
  display: none;
}

/* Scroll Down Arrow */

#mouse_scroll {
  display: block;
  width: 14px;
  height: 40px;
  margin-top: -7vh;
  margin-right: 60px;
}

.mouse_scrollContainer {
  height: 40px;
  margin-left: 95vw;
  display: block;
  position: absolute;
}

.m_scroll_arrows {
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);

  border-right: 1px solid black;
  border-bottom: 1px solid black;
  margin: 0 0 3px 4px;

  width: 12px;
  height: 12px;
}

.unu {
  margin-top: 1px;
}

.unu,
.doi,
.trei {
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
  animation: mouse-scroll 1s infinite;
}

.unu {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -webkit-animation-direction: alternate;

  animation-direction: alternate;
  animation-delay: alternate;
}

.doi {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-direction: alternate;

  animation-delay: 0.2s;
  animation-direction: alternate;

  margin-top: -6px;
}

.trei {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -webkit-animation-direction: alternate;

  animation-delay: 0.3s;
  animation-direction: alternate;

  margin-top: -6px;
}

@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* Tablet Size */
@media (max-width: 1210px) {
  .projectDescriptionMobile {
    display: none;
  }

  .App {
    width: 100vw;
  }

  .descAndSlider {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-bottom: 10vh;
    width: 100%;
  }

  .projectAddressBlock {
    border-bottom: none;
    display: flex;
    line-height: 0px;
    margin-left: 60px;
    position: absolute;
    z-index: 1;
    height: 63vh;
  }

  .projectAddress {
    font-size: 1.4rem;
    font-weight: 100;
    padding-bottom: 0.7rem;
    width: 90vw;
    border-bottom: 1px solid black;
  }

  .projectDescription-treehouse {
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    line-height: normal;
    margin-left: 60px;
    position: absolute;
    width: 90vw;
    /* margin-top: 53.75rem; */
    margin-top: 62.95vh;
    padding-top: 0.7rem;
    padding-bottom: 20px;
  }

  .projectDescriptionLong-treehouse {
    padding-top: 0rem;
    line-height: normal;
    padding-top: 10px;
  }

  .treehouseSlider {
    padding-top: 0vh;
  }

  .slides {
    height: 60vh;
    width: 100%;
    z-index: 2;
  }

  .slideImgs {
    height: 60vh;
    width: auto;
  }

  .slides > div {
    height: 60vh;
    width: auto;
  }

  #mouse_scroll {
    display: block;
    margin: 0 auto;
    width: 14px;
    height: 40px;
    margin-top: 30px;
    z-index: 1;
  }
}

/* Mobile Phone Size */
@media (max-width: 700px) {
  .descriptionAndImg {
    display: none;
  }

  .projectDescriptionMobile {
    display: block;
  }

  .App {
    width: 100vw;
  }

  .descAndSlider {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-bottom: 0vh;
    width: 100%;
  }

  .readMoreButton {
    padding: 5px 15px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    font-weight: 200;
    font-size: 25px;
    z-index: 5;
  }

  .readMoreButtonDiv {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 10px;
    padding-top: 4vh;
  }

  .readMoreButtonDiv::after {
    display: none;
  }

  .projectAddressBlock {
    display: flex;
    flex-direction: column;
    height: 30px;
    margin-left: 20px;
    width: 90vw;
    padding-top: 7vh;
  }

  .projectAddress {
    font-size: 1.4rem;
    font-weight: 100;
    padding-bottom: 0.7rem;
    width: 90vw;
  }

  .projectDescription-treehouse {
    margin-left: 20px;
    top: 579px;
    padding-bottom: 0px;
    margin-top: 0px;
  }

  .projectDescInfo {
    width: auto;
  }

  .projectDescriptionLong-treehouse {
    padding-left: 0px;
    padding-top: 15px;
  }

  .projectDescLongParagraph {
    font-size: 13px;
  }

  .treehouseSlider {
    padding-top: 0vh;
  }

  .slides {
    height: 280px;
    width: 100%;
    z-index: 2;
  }

  .slideImgs {
    height: 280px;
    width: auto;
  }

  .slides > div {
    height: 280px;
    width: auto;
  }

  .mouse_scrollContainer {
    margin-left: 50vw;
    margin-top: -43vh;
  }

  #mouse_scroll {
    margin-top: 0px;
  }

  #projectDescriptionTextMobile {
    z-index: 100;
    margin-left: 20px;
    margin-right: 20px;
  }

  #checked.hide {
    transform: translate3d(-105vw, 0, 0);
  }

  #checked.show {
    transform: translate3d(0vw, 0, 0);
    overflow: hidden;
  }

  .projectDescriptionLong {
    line-height: normal;
    padding-top: 10px;
  }
}
