.App {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 64.5vw;
}

.slides {
  display: flex;
  width: 100%;
  height: 600px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  /* border: red 1px solid; */
}

.slideImgs {
  height: 600px;
  width: auto;
  /* border: yellow 1px solid; */
}

.slides > div {
  display: flex;
  flex-shrink: 0;
  height: 600px;
  width: auto;
  scroll-snap-align: start;
  scroll-behavior: smooth;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  /* border: pink 1px solid; */
}

.descAndSlider {
  box-sizing: border-box; /* ensures padding and border are included in the total width and height of the elements. */
  /* display: grid;
  grid-template-columns: 1fr 2fr; */
  padding-bottom: 10vh; /* adds padding between projects */
  width: auto;
  padding-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.projectDescription-treehouse {
  /* border: 1px solid orange; */
  border-top: 1px solid black;
  display: flex;
  flex-direction: row;
  height: 200px;
  justify-content: flex-start;
  line-height: normal;
  margin-left: 60px;
  padding-top: 0.7rem;
  position: absolute;
  top: 40.55rem;
  width: 30vw;
}

#descHeadingContractor {
  height: 30px;
}

.projectDescHeading {
  color: #969696;
}

.projectDescInfo {
  width: 20vw;
}

.verticalLineAndDesc {
  display: flex;
  flex-direction: column;
}

.treehouseSlider {
  height: fit-content;
  padding-top: 3vh;
  /* width: 100vw; */
}

.hidden {
  display: none;
}

.projectAddressBlock {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  height: 72.4vh;
  justify-content: flex-end;
  line-height: 0px;
  margin-left: 60px;
  position: absolute;
  width: 30vw;
}

.projectAddress {
  font-size: 1.4rem;
  font-weight: 100;
  padding-bottom: 0.7rem; /* 0.2rem */
}

/* Mobile Phone Size */
@media (max-width: 700px) {
  .App {
    width: 100vw;
  }

  .descAndSlider {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-bottom: 10vh;
    width: 100%;
  }

  .projectAddressBlock {
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    height: 40vh;
    line-height: 0px;
    margin-left: 10px;
    position: absolute;
    width: 90vw;
    /* background-color: blue; */
    z-index: 1;
  }

  .projectDescription-treehouse {
    /* border: 1px solid orange; */
    border-top: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    line-height: normal;
    margin-left: 10px;
    position: absolute;
    top: 39rem;
    width: 95vw;
    margin-top: -17vh;
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .treehouseSlider {
    padding-top: 0vh;
  }

  .slides {
    height: 280px;
    width: 100%;
    z-index: 2;
  }

  .slideImgs {
    height: 280px;
    width: auto;
  }

  .slides > div {
    height: 280px;
    width: auto;
  }
}

/* Tablet size  */
@media (max-width: 1100px) {
  /* .slides {
    width: 100%;
  }

  .projectAddressBlock {
    height: 75vh;
    width: 90vw;
  }

  .treehouseSlider {
    padding-top: 0vh;
  }

  .projectDescription-treehouse {
    /* border: 1px solid orange; */
  /* border-top: 1px solid black;
    display: flex;
    flex-direction: row;
    height: 200px;
    justify-content: flex-start;
    line-height: normal;
    margin-left: 60px;
    padding-top: 0.7rem;
    position: absolute; */
  /* top: 40.55rem; */
  /* top: 51rem;
    width: 90vw; */
  /* margin-right: 20px; */
  /* }  */
}

/* @media (max-width: 1450px) {
  .projectAddressBlock {
    width: 410px;
  }
}

@media (max-width: 1350px) {
  .projectAddressBlock {
    width: 380px;
  }
} */
