.App-TimeAndLife {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 64.5vw;
  }
  
  .slides-TimeAndLife {
    display: flex;
    width: 100%;
    height: 600px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    /* border: red 1px solid; */
  }
  
  .slideImgs-TimeAndLife {
    height: 600px;
    width: auto;
    /* border: yellow 1px solid; */
  }
  
  .slides-TimeAndLife > div {
    display: flex;
    flex-shrink: 0;
    height: 600px;
    width: auto;
    scroll-snap-align: start;
    scroll-behavior: smooth;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    /* border: pink 1px solid; */
  }
  
  @media (max-width: 1210px) {
    .App-TimeAndLife{
      width: auto;
    }
  }
  
  @media (max-width: 700px) {
    .App-TimeAndLife {
      width: 100vw;
    }
    .slides-TimeAndLife {
      height: 280px;
      width: 100%;
      z-index: 2;
    }
    .slides-TimeAndLife > div {
      height: 280px;
      width: auto;
    }
    .slideImgs-TimeAndLife {
      height: 280px;
      width: auto;
    }
  }