@font-face {
  font-family: HelveticaNeueLTStd;
  src: url("../src/Helvetica\ Neue\ LT\ Std/HelveticaNeueLTStd-Th.otf");
}

body {
  background-color: #d2a57b;
}

p {
  margin: 0;
}

.homePageLinksAndNumbers {
  display: flex;
  flex-direction: row;
  color: white;
  margin-left: 170px;
  align-items: baseline;
  margin-top: 100px;
  font-size: 12px;
}

.linkNumbers {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  
}

.number {
  font-size: 20px;
  font-weight: 300;
  padding-top: 59px;
}

.homePageLinks {
  display: flex;
  flex-direction: column;
  
}

.singleLinkPractice {
  padding-top: 43px;
  position: relative;
  line-height: 0.60;
  font-weight: 200;
  font-size: 65px;
  margin-left: 30px;
  color: white;
  text-decoration: none;
}

.singleLinkWorkTogether {
  padding-top: 43px;
  position: relative;
  line-height: 0.60;
  font-weight: 200;
  font-size: 65px;
  margin-left: 30px;
  color: white;
  text-decoration: none;
}

.singleLinkProjects {
  padding-top: 43px;
  position: relative;
  line-height: 0.60;
  font-weight: 200;
  font-size: 65px;
  margin-left: 30px;
  color: white;
  text-decoration: none;
}

.singleLinkPractice:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5%;
  /* changed this from 5px to 5% */
  width: 300px;
  height: 1px;
  background-color: white;
  transition: 0.6s width linear;
}

.singleLinkPractice:hover:after {
  width: 0px;
  background-color: black;
  color: black;
}

.singleLinkWorkTogether:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 530px;
  height: 1px;
  background-color: white;
  transition: 0.6s width linear;
}

.singleLinkWorkTogether:hover:after {
  width: 0px;
  background-color: black;
  color: black;
}

.singleLinkProjects:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 320px;
  height: 1px;
  background-color: white;
  transition: 0.6s width linear;
}

.singleLinkProjects:hover:after {
  width: 0px;
  background-color: black;
  color: black;
}

.singleLinkPractice:hover {
  color: black;
}

.singleLinkWorkTogether:hover {
  color: black;
}

.singleLinkProjects:hover {
  color: black;
}

#practiceLink {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  width: 400;
  transform: scaleX(1);
}

#workTogetherLink,
#projectsLink {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
}

@media (max-width: 700px) {
  
  .homePageLinksAndNumbers {
    margin-left: 20px;
  }

  .singleLinkPractice,
  .singleLinkProjects,
  .singleLinkWorkTogether {
    font-size: 40px;
    margin-left: 10px;
    padding-top: 1px;
  }

  .singleLinkProjects {
    padding-top: 62px;
  }



 

  .singleLinkWorkTogether:after,
  .singleLinkPractice:after,
  .singleLinkProjects:after {
    width: 310px;
    bottom: 3px;
  }
}

@media (max-width: 600px) {

  .singleLinkPractice {
    margin-bottom: 58px;
  }

  .singleLinkPractice,
  .singleLinkProjects,
  .singleLinkWorkTogether {
    font-size: 37px;
  }

}