@font-face {
  font-family: HelveticaNeueLTStd;
  src: url("../src/Helvetica\ Neue\ LT\ Std/HelveticaNeueLTStd-Th.otf");
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.projectsPageBackground {
  background-color: white;
}

.projectsPage {
  display: flex;
  flex-direction: column;
  font-family: HelveticaNeueLTStd;
  line-height: 5px;
  margin: none;
  padding: none;
}

.titleProjects {
  display: none;
}

.footerProjectsPage {
  height: 50px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
}

.footerProjectsPage p {
  padding-left: 30px;
}

.embaLogoFooter {
  height: 20px;
  padding-left: 60px;
}


@media (max-width: 700px) {
  .projectsPageBackground {
    height: 100vh;
    width: 100vw;
    background-color: white;
  }

  .titleProjects {
    display: block;
    margin-left: 20px;
    line-height: 0%;
    margin-top: 100px;
    font-weight: 200;
    font-size: 45px;
  }

  .zapFRP {
    background-color: white;
  }
  
  .testFRP {
    background-color: white;
  }

  .footerProjectsPage p {
    padding-left: 20px;
  }

  .embaLogoFooter {
    padding-left: 20px;
  }
}

/* Scroll Magic CSS */

.section {
  height: auto;
}

.test {
  transition: opacity 1s ease-in-out;
  /* width: 500px;
  height: 500px; */
  /* background-color: red; */
  margin: 0 !important;
  opacity: 0;
}

.zap {
  height: auto;
  opacity: 1;
}

.sectionFRP {
  height: 15vh;
  background-color: white;
}

.testFRP {
  transition: opacity 0.5s ease-in-out;
  /* width: 500px;
  height: 500px; */
  /* background-color: red; */
  margin: 0 !important;
  opacity: 0;
}

.zapFRP {
  height: auto;
  opacity: 1;
}
