@font-face {
  font-family: HelveticaNeueLTStd;
  src: url("../src/Helvetica\ Neue\ LT\ Std/HelveticaNeueLTStd-Th.otf");
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.projectsPageBackground {
  background-color: white;
}

.projectsPage {
  display: flex;
  flex-direction: column;
  font-family: HelveticaNeueLTStd;
  line-height: 5px;
  margin: none;
  padding: none;
  background-color: white;
}

.titleProjects {
  display: none;
}

.footerProjectsPage {
  height: 50px;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 250px;
}

.embaLogoFooter {
  height: 20px;
  padding-left: 60px;
}

.footerLink {
  text-decoration: none;
  color: white;
  padding-left: 30px;
  text-align: center;
  padding-top: 5px;
}


/* Mobile CSS */

@media (max-width: 700px) {
  .projectsPageBackground {
    height: 100vh;
    width: 100vw;
    background-color: white;
  }

  .titleProjects {
    display: block;
    margin-left: 40px;
    line-height: 0%;
    margin-top: 100px;
    font-weight: 200;
    font-size: 45px;
  }

  .zapFRP {
    background-color: white;
  }
  
  .testFRP {
    background-color: white;
  }

  .footerProjectsPage {
    margin-top: 300px;
    font-size: small;
  }

  .footerProjectsPage p {
    padding-left: 20px;
  }

  .footerLink {
    padding-left: 10px;
  }

  .embaLogoFooter {
    padding-left: 20px;
  }

  .footerProjectsPage {
    margin-top: 50px;
  }
}

/* Scroll Magic CSS */

/* Treehouse */
.section {
  height: auto;
}

.test {
  transition: opacity 1s ease-in-out;
  margin: 0 !important;
  opacity: 0;
}

.zap {
  height: auto;
  opacity: 1;
}

/* Fullham Rd */
.sectionFRP {
  height: 0vh;
  background-color: white;
}

.testFRP {
  transition: opacity 0.5s ease-in-out;
  margin: 0 !important;
  opacity: 0;
}

.zapFRP {
  height: auto;
  opacity: 1;
}

/* Shell Cove Harbour */
.sectionSH {
  height: 0vh;
}

.testSH {
  transition: opacity 0.5s ease-in-out;
  margin: 0 !important;
  opacity: 0;
}

.zapSH {
  height: auto;
  opacity: 1;
}

/* Time and Life */
.sectionTAL {
  height: 0vh;
}

.testTAL {
  transition: opacity 0.5s ease-in-out;
  margin: 0 !important;
  opacity: 0;
}

.zapTAL {
  height: auto;
  opacity: 1;
}

/* Bruton Lane */
.sectionBL {
  height: 0vh;
}

.testBL {
  transition: opacity 0.5s ease-in-out;
  margin: 0 !important;
  opacity: 0;
}

.zapBL {
  height: auto;
  opacity: 1;
}

/* Green Square */
.sectionGS {
  height: 0vh;
}

.testGS {
  transition: opacity 0.5s ease-in-out;
  margin: 0 !important;
  opacity: 0;
}

.zapGS {
  height: auto;
  opacity: 1;
}

/* Canterbury House */
.sectionCH {
  height: 0vh;
}

.testCH {
  transition: opacity 0.5s ease-in-out;
  margin: 0 !important;
  opacity: 0;
}

.zapCH {
  height: auto;
  opacity: 1;
}
